{% extends 'base.html' %} {% block content %}
<div>
    <h1>Hello World, My Name is {{name}}.</h1>
    <p>
        This is my first Python/Django application. So far i have found it easy to implement, but slightly difficult to understand.I enjoy a challenge though so im gonna give it my best effort. The virtual environment throws me off a lil bit because its hard
        to understand all the moving parts. However I find it very rewarding when i get something correct and the application works.As you can see it works. You are reading it right now. Now on to bigger and better apps! See ya!
    </p>
    <p>
        Some benefits I can see from using python and django together are it's easy to set up, only a few commands in the terminal. Also, it is a bit different than javascript so it will be interesting to figure out all the syntax for higher level functionality.
    </p>
</div>

{% endblock %}